<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="buscar" (click)="goRetos()">Retos</button>
<button class="retos" (click)="goCompetencias()">Competencias</button>
<button class="competencia" (click)="goGrupo()">Grupos</button>
<button class="perfil" [routerLink]="['/home']" >Cerrar Sesión</button>

<body class="posiciones">
    <mat-card class="podio">
        <div>
            <h1>
                Nombre de la carrera: {{carrera}}
            </h1>

        </div>
        <div>
            <h1>
                Junior
            </h1>
        </div>
        <div *ngFor="let posicion of participantes">
            <h2>
                {{posicion.nombre}}
                {{posicion.edad}}
                {{posicion.tiempo}}
            </h2>

        </div>
        <button mat-button class="btn" [routerLink]="['/posiciones',username,id]">
            <h1>
                Aceptar
            </h1>
        </button>
    </mat-card>

</body>
