.linea {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 0px;
  top: 70px;

  border: 1px solid #000000;
  transform: rotate(0.01deg);
}

.logo {
  position: absolute;
  top: -50px;
  width: 300px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #c35dd3;
  opacity: 0.66;
}
.logo2 {
  position: absolute;
  top: -50px;
  width: 20px;
  left: 150px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #D63030;
  opacity: 0.66;
}
.logo3 {
  position: absolute;
  top: -49px;
  width: 5px;
  left: 160px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.inicio {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 250px;
  top: 30px;
}

.buscar {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 400px;
  top: 30px;
}

.retos {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 580px;
  top: 30px;
}

.competencia {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 755px;
  top: 30px;
}

.perfil {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 40px;
  left: 900px;
  top: 30px;
}
.logOut {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 1000px;
  top: 30px;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
}
  .btn{
    width: 148px;
    height: 59px;
    background: #5F71CC;
    border-radius: 10px;
    color: #FFFFFF;
    margin-left: 20px;
}
