<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="retos" (click)="retosGo()">Retos</button>
<button class="competencia" (click)="competenciasGo()">Competencias</button>
<button class="grupos" (click)="gruposGo()">Grupos</button>
<button class="logOut">Cerrar Sesión</button>

<body class="posiciones">
    <mat-card class="podio">
        <div>
            <h1>
                Nombre de la carrera: {{carrera}}
            </h1>
    
        </div>
        <div>
            <h1>
                Master B
            </h1>
        </div>
        <div *ngFor="let posicion of participantes">
            <h2>
                {{posicion.nombre}}
                {{posicion.edad}}
                {{posicion.tiempo}}
            </h2>
            
        </div>
        <button mat-button class="btn"  [routerLink]="['/posiciones']">
            <h1>
                Aceptar
            </h1>
        </button>
    </mat-card>
    
</body>