<div >
  <form class="forma">
    <label class="logo">Stravia</label><label class="logo2">|</label><label class="logo3">TEC</label>

    <input
      [(ngModel)] = "username"
      class="usuario"
      type="text"
      name="username"
      placeholder="Usuario"
      required="required"
    />

    <input
      class="password"
      type="password"
      name="password"
      placeholder="Contraseña"
      required="required"
    />

    <input
      class="nombre"
      type="text"
      name="name"
      placeholder="Nombre"
      required="required"
    />
    <input
      class="apellido1"
      type="text"
      name="apellido1"
      placeholder="Apellido1"
      required="required"
    />
    <input
      class="apellido2"
      type="text"
      name="apellido2"
      placeholder="Apellido2"
      required="required"
    />
    <input
      class="nacionalidad"
      type="text"
      name="nacionalidad"
      placeholder="Nacionalidad"
      required="required"
    />
    <input
      class="dob"
      type="date"
      name="dob"
      required="required"
    />

    <select class="rol" >
      <option value="organizador">Organizador</option>
      <option value="deportista">Deportista</option>
      </select>

    <button class="reg" type="submit">Iniciar sesión</button>
  </form>

</div>

<!-- file input, accepts images only. Detect when file has been picked/changed with Angular's native (change) event listener -->
<input class="logoUp" type="file" accept="image/*" (change)="updateSource($event)">

<!-- img placeholder when a file has been picked. shows only when 'source' is not empty -->
<img class="logoContainer"  [src]="source" src="">

