.forma{
  background-color: black;
}
.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 300px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 100px;
  color: #c35dd3;
  opacity: 0.66;
}
.logo2 {
  position: absolute;
  left: 145px;
  top: -55px;
  width: 300px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #D63030;
  opacity: 0.66;
}
.logo3 {
  position: absolute;
  left: 155px;
  top: -50px;
  width: 300px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.usuario {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 479px;
  top: 250px;
  background: #ebf5fc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 479px;
  top: 300px;
  background: #ebf5fc;
}

.nombre {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 479px;
  top: 350px;
  background: #ebf5fc;
}

.apellido1 {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 400px;
  top: 400px;
  background: #ebf5fc;
}

.apellido2 {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 750px;
  top: 400px;
  background: #ebf5fc;
}

.nacionalidad {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 400px;
  top: 450px;
  background: #ebf5fc;
}

.dob {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 750px;
  top: 450px;
  background: #ebf5fc;
}

.reg {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #5f71cc;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 400px;
  top: 500px;
}
.rol {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 750px;
  top: 500px;
  background: #ebf5fc;
  border-radius: 0.5rem;
}

.logoUp{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 1000px;
  top: 100px;
}

.logoContainer{
  height: 135px;
  width: 500px;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 570px;
  top: 10px;
  border-radius: 1.5rem;
}
