.linea {
  position: absolute;
  width: 1250px;
  height: 0px;
  left: 0px;
  top: 70px;

  border: 1px solid #000000;
  transform: rotate(0.01deg);
}

.logo {
  position: absolute;
  top: -50px;
  width: 300px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #c35dd3;
  opacity: 0.66;
}
.logo2 {
  position: absolute;
  top: -50px;
  width: 20px;
  left: 150px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #D63030;
  opacity: 0.66;
}
.logo3 {
  position: absolute;
  top: -49px;
  width: 5px;
  left: 160px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.inicio {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 250px;
  top: 30px;
}

.buscar {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 400px;
  top: 30px;
}

.retos {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 580px;
  top: 30px;
}

.competencia {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 755px;
  top: 30px;
}

.perfil {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 10px;
  height: 40px;
  left: 900px;
  top: 30px;
}
.logOut {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: white;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 1000px;
  top: 30px;
}

.left {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 150px;
  left: 200px;
  background-color: #D7D7D7;
}

.productor {
  position: relative;
  top: 10px;
  left: 200px;
  width: 550px;
  height: 100px;
  background-color: white;
}

.buscarBtn{
  position: absolute;
  left: 400px;
}

.Crear {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: #5F71CC;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 580px;
  top: 450px;
}

.tops {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: black;
  background-color: #5F71CC;
  font-weight: bold;
  width: 10%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 580px;
  top: 510px;
}

.nombre {
  position: absolute;
  width: 400px;
  height: 30px;
  left: 479px;
  top: 100px;
  background: #ebf5fc;
}
.Desde {
  position: absolute;
  top: 80px;
  width: 5px;
  left: 250px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.from {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 250px;
  top: 200px;
  background: #ebf5fc;
}

.tipo {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 250px;
  top: 300px;
  background: #ebf5fc;
  border-radius: 0.5rem;
}

.patrocinadores {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 250px;
  top: 400px;
  background: #ebf5fc;
  border-radius: 0.5rem;
}

.patro {
  position: absolute;
  top: 270px;
  width: 5px;
  left: 250px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.actividad {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 800px;
  top: 200px;
  background: #ebf5fc;
  border-radius: 0.5rem;
}

.act {
  position: absolute;
  top: 80px;
  width: 200px;
  left: 800px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}

.privc {
  position: absolute;
  width: 200px;
  height: 30px;
  left: 800px;
  top: 350px;
  background: #ebf5fc;
  border-radius: 0.5rem;
}

.pri {
  position: absolute;
  top: 230px;
  width: 200px;
  left: 800px;
  height: 0.25px;
  font-family: Arial Black;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 200px;
  color: #0D28B2;
  opacity: 0.66;
}
