<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="buscar" (click)="goRetos()">Retos</button>
<button class="retos" (click)="goCompetencias()">Competencias</button>
<button class="competencia" (click)="goGrupo()">Grupos</button>
<button class="perfil" [routerLink]="['/home']">Cerrar Sesión</button>

<div>
  <form class="forma">
    <input
      class="nombre"
      type="text"
      placeholder="{{ nombre }}"
      required="required"
      (change)="nombreSet($event.target.value)"
    />

    <input
      class="desc"
      type="text"
      placeholder="{{ descripcion }}"
      required="required"
      (change)="descripcionSet($event.target.value)"
    />

    <div class="lookfil" style="overflow: auto">
      <div class="tramos">
        <div *ngFor="let participante of paricipantes">
          <mat-card class="productor">
            <h3>{{ participante.Nombre }} &nbsp;</h3>
          </mat-card>
        </div>
      </div>
    </div>



    <button class="Crear" (click)="crear()" type="submit">{{ boton }}</button>
  </form>
</div>
