<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="buscar" (click)="buscargo()">Buscar</button>
<button class="retos" (click)="retosGo()">Retos</button>
<button class="competencia" (click)="competenciasGo()">Competencias</button>
<button class="perfil">Perfil</button>
<button class="logOut">Cerrar Sesión</button>

<h1 class="nombre">{{ informacion.Nombre }}</h1>

<div class="lookfil" style="overflow: auto">
  <div class="tramos">
    <div *ngFor="let categoria of informacion.Categorias">
      <mat-card class="productor">
        <h3>{{ categoria }} &nbsp;</h3>
        <div class="categoria" style="overflow: auto">
          <div *ngFor="let t of top">
            <h3>
              {{ t.Nombre }}  {{ t.Edad }}  {{ t.Tiempo }} &nbsp;
            </h3>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
