
<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio">Inicio</button>
<button class="buscar">Buscar</button>
<button class="retos">Retos</button>
<button class="competencia">Competencias</button>
<button class="perfil">Perfil</button>
<button class="logOut">Cerrar Sesión</button>

<div class="cuerpo">
    <mat-card-content class="cardTitulo">
        <h1>{{grupo}}</h1>
        <img src='../../../assets/Images/image 2.png' alt="profile-pic">
        <h3>{{descripcion}}</h3>
        <button mat-button class="btn">
            <h1>
                Unirse
            </h1>
        </button>
    </mat-card-content>
    <mat-card-content class="insCard">
        <div class="text">
            <p class="text1">&nbsp;Stravia</p><p class="text2">|</p><p class="text3">TEC</p>
        </div>
    
        <h1 ALIGN="center">Talvez poner comentarios?</h1>
        
        
    </mat-card-content>
</div>
