<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="buscar" (click)="buscargo()">Buscar</button>
<button class="retos" (click)="retosGo()">Retos</button>
<button class="competencia" (click)="competenciasGo()">Competencias</button>
<button class="perfil">Perfil</button>
<button class="logOut">Cerrar Sesión</button>

<div class="cuerpo">
  <mat-card-content class="cardTitulo">
    <form [formGroup]="actividadForm" (ngSubmit)="onSubmit()">
      <div [formGroup]="actividadForm">
        <h2>Nombre de actividad:</h2>
        <input
          type="text"
          formControlName="actividad"
          (change)="setNombre($event.target.value)"
        />
        <h3>Fecha:</h3>
        <input
          type="text"
          formControlName="fecha"
          (change)="setFecha($event.target.value)"
        />
        <h3>Hora:</h3>
        <input
          type="text"
          formControlName="hora"
          (change)="setHora($event.target.value)"
        />
        <h3>Duración:</h3>
        <input
          type="text"
          formControlName="duracion"
          (change)="setDuracion($event.target.value)"
        />
        <h3>Tipo de actividad:</h3>
        <input
          type="text"
          formControlName="tipo"
          (change)="setTipo($event.target.value)"
        />
        <h3>Kilometraje:</h3>
        <input
          type="text"
          formControlName="kilometro"
          (change)="setKilo($event.target.value)"
        />
        <h3>Completitud:</h3>
        <input
          type="text"
          formControlName="completitud"
          (change)="setComple($event.target.value)"
        />
      </div>
    </form>

    <button
      mat-button
      type="submit"
      [disabled]="!actividadForm.valid"
      class="btn"
      (click)="upLoad()"
    >
      <h1>Finalizar</h1>
    </button>
  </mat-card-content>
  <mat-card-content class="insCard">
    <div class="text">
      <p class="text1">&nbsp;Stravia</p>
      <p class="text2">|</p>
      <p class="text3">TEC</p>
    </div>

    <div class="form-group">
      <input
        type="file"
        id="file"
        (change)="handleFileInput($event.target.files)"
      />
    </div>
  </mat-card-content>
</div>
