<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="iniciogo()">Inicio</button>
<button class="buscar" (click)="buscargo()">Buscar</button>
<button class="retos" (click)="retosGo()">Retos</button>
<button class="competencia" (click)="competenciasGo()">Competencias</button>
<button class="perfil">Perfil</button>
<button class="logOut">Cerrar Sesión</button>

<div class="left" style="overflow: auto">
  <div *ngFor="let informacion of informaciones">
    <div class="productor">
      <h3>{{ informacion.Nombre }} &nbsp;</h3>
      <button class="buscarBtn" (click)= "verInfo()">Visitar</button>
      <h3>{{ informacion.Descripcion }} &nbsp;</h3>

    </div>
  </div>
</div>


