<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="buscar" (click)="goRetos()">Retos</button>
<button class="retos" (click)="goCompetencias()">Competencias</button>
<button class="competencia" (click)="goGrupo()">Grupos</button>
<button class="perfil" [routerLink]="['/home']">Cerrar Sesión</button>

<div>
  <form class="forma">

    <input
      class="nombre"
      type="text"
      name="name"
      placeholder={{nombre}}
      required="required"
      (change)="nombreSet($event.target.value)"
    />

    <label class="Desde">Desde:</label>

    <input
      class="from"
      type="text"
      name="from"
      required="required"
      placeholder={{desde}}
      (change)="desdeSet($event.target.value)"
      onfocus="(this.type='date')"
    />

    <label class="Hasta">Hasta:</label>
    <input
      class="tos"
      type="text"
      name="to"
      required="required"
      placeholder={{hasta}}
      (change)="hastaSet($event.target.value)"
      onfocus="(this.type='date')"
    />

    <label class="act">Tipo Actividad:</label>
    <select class="actividad" (change)="tipoSet($event.target.value)">
      <option value="actual">{{tipo}}</option>
      <option value="correr">Correr</option>
      <option value="nadar">Nadar</option>
      <option value="ciclismo">Ciclisno</option>
      <option value="senderismo">Senderismo</option>
      <option value="kayak">Kayak</option>
      <option value="caminata">Caminata</option>
    </select>

    <label class="pri">Privacidad:</label>
    <select class="privc" (change)="privSet($event.target.value)">
      <option value="actual">{{privacidad}}</option>
      <option value="publico">Público</option>
      <option value="privado">Privado</option>
    </select>

    <select class="tipo" (change)="altfSet($event.target.value)">
      <option value="actual">{{altfon}}</option>
      <option value="altitud">Altitud</option>
      <option value="fondo">Fondo</option>
    </select>

    <label class="patro">Patrocinadores:</label>
    <select class="patrocinadores" (change)="patroSet($event.target.value)">
      <option value="actual">{{patrocinadores}}</option>
      <option value="python">Python</option>
      <option value="java">Java</option>
    </select>

    <button class="Crear" type="submit">{{boton}}</button>
  </form>
</div>
