<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="retos" (click)="retosGo()">Retos</button>
<button class="competencia" (click)="competenciasGo()">Competencias</button>
<button class="grupos" (click)="gruposGo()">Grupos</button>
<button class="logOut">Cerrar Sesión</button>

<body class="grupos2">
    <div class="maingrupo">
        <mat-card class="grupo">
            <div class="grupo3">
                <h1>
                    Nombre de la carrera:
                </h1>
                <div contenteditable="true">
                    <h1>
                        {{carrera}}
                    </h1>
                </div>
            </div>
            <h2>
                Participantes
            </h2>
            
            <div class="participantes">
                <div *ngFor="let participante of participantes">
                    <div contenteditable="true">
                        <h3>
                            {{participante}}
                        </h3>
                    </div>
                </div>
            </div>
        </mat-card>

    </div>
    
</body>
