<hr class="linea" />
<label class="logo">Stravia</label><label class="logo2">|</label
><label class="logo3">TEC</label>

<button class="inicio" (click)="goInicio()">Inicio</button>
<button class="buscar" (click)="goRetos()">Retos</button>
<button class="retos" (click)="goCompetencias()">Competencias</button>
<button class="competencia" (click)="goGrupo()">Grupos</button>
<button class="perfil">Cerrar Sesión</button>

<div class="grupos2">
  <div class="maingrupo">
    <mat-card class="grupo">
      <div class="grupo3">
        <h1>Nombre de la carrera:</h1>
        <div contenteditable="true">
          <h1>
            {{ carrera }}
          </h1>
        </div>
      </div>
      <h2>Participantes</h2>

      <div class = "lookfil" style="overflow: auto">
        <div class="tramos">
          <div *ngFor="let participante of participantes">
            <mat-card class="productor">
              <h3>
                {{ participante }}
              </h3>
            </mat-card>
          </div>
        </div>


      </div>
      <button class="top" (click)="goTop()" >Top</button>
    </mat-card>

  </div>
</div>

